.buy-view {
  position: relative;
  height: 260px;
  background-color: #986ffc !important;
  margin-top: 90px;
}
.buy-view .container {
  width: 1140px;
  margin: 0 auto;
}

.buy-main-view {
  background: #fff;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}
.buy-main-view .tab-bar {
  margin-top: 30px;
  margin-bottom: 50px;
}

.buy-main-view .buy-main {
  /* width: 65%; */
  width: 1140px;
  margin: 0 auto;
}

.buy-main-view .buy-services-item {
  /* -moz-box-shadow: -1px 6px 6px #a1a1a1;
  -webkit-box-shadow: -1px 6px 6px #a1a1a1;
  box-shadow: -1px 6px 6px #a1a1a1; */
  border: 1px solid #f1f1f1;
  border-radius: 20px;
}
.buy-main-view .buy-services-item p {
  opacity: 1;
}

.pricing-item-line {
  background: #fff;
  border: 1px solid #986ffc;
  padding: 20px;
  height: 800px;
}

.pricing-item-line span {
  color: #986ffc;
}
.pricing-item-line p {
  color: #986ffc;
}
.pricing-item-line h2 {
  color: #986ffc;
}
.pricing-item-line li a {
  color: #986ffc !important;
}

.pricing-item-text {
  padding: 20px;
  height: 800px;
}

.pricing-item-text span {
  color: #fff;
}
.pricing-item-text p {
  color: #fff;
}
.pricing-item-text h2 {
  color: #fff;
}
.pricing-item-text li a {
  color: #fff !important;
}

.buy-qtr {
  margin-top: 20px;
}
.buy-qtr .img-view {
  width: 100px;
}
.buy-qtr .left-view {
  margin-right: 30px;
}
.buy-qtr .img-view .img {
  width: 100px;
}
.buy-qtr .img-view .code-text {
  color: #666 !important;
  text-align: center;
  margin-top: -10px;
}
.buy-qtr .img-right {
  padding: 10px;
}

.my-tabel thead th {
  padding: 2rem !important;
  text-align: center !important;
  background: #986ffc;
  border-bottom: none !important;
  border-right: 1px solid #fff;
  font-weight: 500;
  color: #fff;
}
.my-tabel td,
.my-tabel th {
  text-align: center;
  padding: 0.6rem;
  border-top: 1px solid #eff4f9;
  width: 7rem;
  vertical-align: middle;
  text-align: left;
  color: #7b7b7b;
}

.my-tabel td {
  text-align: center;
}
.buy-item-1,
.buy-item-2,
.buy-item-3 {
  font-size: 35px !important;
}
