.try-code {
  position: absolute;
}
.img-view {
  display: inline-block;
}
.try-main {
  background: #fff;
}

.toast {
  position: fixed;
  right: 20px;
  top: 50px;
  z-index: 1000;
  min-width: 300px;
}
.white-nav {
  background: #fff !important;
  padding: 0 !important;
}
.white-nav h4 {
  color: #333 !important;
}
.white-nav #cssmenu > ul > li > a {
  color: #333 !important;
}

.white-nav #cssmenu > ul > li > a:hover {
  color: #7142df !important;
}
.white-nav #cssmenu > ul > li > a .avater {
  background: #ddd;
}
.white-nav #cssmenu > ul > .top-btn > a {
  color: #fff !important;
}
.white-nav #cssmenu > ul > .top-btn > a:hover {
  color: #fff !important;
}

.user-home {
  background: rgb(245, 246, 250);
  padding-top: 140px;
  /* min-height: 1000px; */
}

.user-home .container .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  margin: 10px auto;
  text-align: center;
}
.user-home .container .title .user-phone {
  display: inline-block;
  padding: 0px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  background: rgb(253, 108, 152);
  vertical-align: middle;
}
.user-home .container .SaaS-view {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(19, 19, 51, 0.04);
  height: 200px;
  padding: 30px;
  /* background: rgb(253, 108, 152, 0.2); */
  background-image: url('../../../myimages/mall_index.png');
  background-position: -10px 0;
  background-repeat: no-repeat;
  background-size: 2700px auto;
}
.user-home .container .SaaS-view .SaaS-left {
  /* background: #8a62f0; */
  height: 200px;
}
.user-home .user-right {
  padding-left: 10px;
}

.user-right-view {
  background-color: #fff;
  padding: 20px;
  /* min-height: 1000px; */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(19, 19, 51, 0.04);
  margin-bottom: 20px;
}
.user-right-view .user-avater {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.user-right-view .user-avater > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user-home .container .user-code-view {
  margin-top: 10px;
  /* padding-bottom: 20px; */
  /* border-bottom: 1px solid #f3f3f3; */
}
.user-code-view {
  margin-top: 10px;
  /* padding-bottom: 20px; */
  /* border-bottom: 1px solid #f3f3f3; */
}
.user-home .container .title .user-code-icon {
  width: 20px;
  vertical-align: middle;
}
.user-code-icon {
  width: 20px;
  vertical-align: middle;
}
.user-home .container .title .user-code {
  font-size: 12px;
  color: #666;
  display: inline-block;
  margin-left: 3px;
}
.user-home .container .title .user-code-btn {
  display: block;
  width: 100px;
  cursor: pointer;
  padding: 0 6px;
  background: #1add97;
  color: #fff;
  font-size: 12px;
  margin-left: 3px;
  border-radius: 10px;
}
.user-home .container .btn-primary:hover {
  opacity: 0.8;
}
.user-home .container .sub-title {
  margin-left: -8px;
}
.user-home .container .sub-title .line {
  display: inline-block;
  height: 30px;
  width: 4px;
  background: #6f42c1;
  vertical-align: middle;
}
.user-home .container .sub-title .line-title {
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
  display: inline-block;
}
.user-home .container .server-item {
  background: #fff;
  border-radius: 10px;
  /* min-height: 200px; */
  padding: 0px;
  box-shadow: 0 4px 20px rgba(19, 19, 51, 0.04);
  overflow: hidden;
  margin-bottom: 50px;
}
.user-home .container .server-item .title-top {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: #333;
  padding-bottom: 20px;
}
.user-home .container .server-item .title-top-sub {
  font-size: 14px;
}
.user-home .container .server-item .server-top {
  padding: 30px 20px;
}
.user-home .container .server-item .server-btn {
  height: 50px;
  border-top: 1px solid #f3f3f3;
  line-height: 50px;
  color: #666;
  font-size: 16px;
  transition: all 0.3s;
  background-color: #fff;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.user-home .container .server-item .server-btn:hover {
  background-color: #1add97;
  color: #fff;
}

.user-home .container .user-info-left {
  padding: 20px;
  background-color: #855bec;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  opacity: 1;
}
.user-home .container .user-info-left .goto-create {
  transition: all 0.3s;
  margin-left: 0px;
}
.user-home .container .user-info-left:hover {
  opacity: 0.8;
}
.user-home .container .user-info-left:hover .goto-create {
  margin-left: 20px;
}
